section{
    padding: 250px 0;
   
}

.navbar{

    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

.card{
    max-width:10em;
    flex-direction: row;
    margin: 20px;
    border-radius: 25px;
    padding: 15px;
}

.card img{
    max-width: 10em;
}

.card-title{
    font-weight: 800;
}

.card-body{
    display:flex;
    justify-content:space-between;
}

.text-section{
    max-width:60%
}

.cta-section{
    max-width:40%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.cta-section .btn{
    padding-top: 5px;
    background-color: #4d5eac;
    border-radius: 17px;
}

.fee{
    font-size: 12px;
    font-weight: 600;
}



.navbar li{
    font-weight: 600;
    padding: 2px 15px 0 0;
   
}

.navbar li a{

    color: black !important;

}

.navbar li a:hover{

    color:#4d5eac !important;
    transition: 0.5s;
    transition-timing-function: ease-in-out;


}



.fw-bold{
    font-size: larger;
}

#doctor-half{
    color: #b2b0f1;

}

#line-half{
    color:#4d5eac;
}





#landing-art{
   
    max-width: 1000px;
    
}

#book-btn{
   margin-bottom: 10px;
   margin-right: 15px;
   border-radius: 25px;
   padding: 11px;
   background-color: #4d5eac;
   font-weight: 500;
   transition: 0.2s;
}

#book-btn:hover{

    transform: scale(1.04);
    transition:0.3s;
    transition-timing-function: ease-in-out;
}

#services-btn{
    margin-bottom:10px;
    
    border-radius: 25px;
    padding: 11px;
    background-color: white;
    color: #4d5eac;
    border-color: #4d5eac;
    font-weight: 500;
}

#services-btn:hover{
    background-color: #4d5eac;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    color: white;
    font-weight: 500;

}

#header{
    font-weight: 800;
    

}

#header span{
   color: #4d5eac;
}

.p{
    max-width: 30%;
}